body {
  font-family: 'Montserrat', sans-serif;
  background: black;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  
  @media (min-width: 768px) {
    background: url(../img/hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.navbar-brand img {
  margin-top: -5px;
}

.navbar-nav a {
  font-size: 13px;
  font-weight: 600;
}

#title {
  font-size: 32px;
}

#subtitle {
  font-size: 40px;
  font-weight: bold;
}

.topText {
  font-size: 28px;
  font-weight: bold;
}

.botText {
  font-size: 13px;
}

.reserve-btn {
  background: rgba(0, 0, 0, 0);
  color: white;
}

.hero-bottom .container {
  max-width: 700px;
}

.col-with-border {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-top: none;
  border-bottom: none;
}

.ion-ios-arrow-down {
  font-size: 32px;
}

#movieAndStats {
  margin-bottom: 250px;
}

#movieAndStats iframe {
  width: 90%;
  height: 400px;
  
  @media (min-width: 992px) {
    width: 900px;
    height: 500px;
  }
}

#movieAndStats table {
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  margin-bottom: 100px;
  
  @media (min-width: 768px) {
    width: 600px;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 50px;
  }
}

#movieAndStats table th {
  border-top: none;
}

#movieAndStats table thead th {
  text-align: left;
  padding-left: 0;
}

#movieAndStats table .cell-left {
  text-align: left;
  padding-left: 0;
}

#movieAndStats table .cell-right {
  text-align: right;
  padding-right: 0;
  font-weight: bold;
}