<% include ./partials/header %>
  
  <section id="hero" class="d-flex flex-column justify-content-between">
    
    <div class="hero-top">
      
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="img/logo.png" width="100"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">MODEL S</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">MODEL X</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">MODEL 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">ROADSTER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ENERGY</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">SHOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SIGN IN</a>
            </li>
          </ul>
        </div>
      </nav><!-- End of Navbar -->
  
      <h1 id="title" class="text-center mt-5 mb-0">Tesla</h1>
      <h2 id="subtitle" class="text-center">Roadster</h2>
      
    </div><!-- End of Hero Top -->
    
    <div class="hero-bottom text-center text-white">
      <div class="container">
        
        <div class="row mb-4">
          <div class="col-md-8 mx-auto">
            <p>The quickest car in the world, with record setting accelaration, range and performance.</p>
          </div>
        </div>
        
        <div class="row mb-4">
          
          <div class="col-md-3">
            <p class="topText mb-0"><i class="fas fa-tachometer-alt"></i> 1.9s</p>
            <p class="botText">0-60mph</p>
          </div>
          
          <div class="col-md-3 col-with-border">
            <p class="topText mb-0">+250mph</p>
            <p class="botText">Top Speed</p>
          </div>
          
          <div class="col-md-3">
            <p class="topText mb-0">620mi</p>
            <p class="botText">Mile Range</p>
          </div>
          
          <div class="col-md-3 align-self-center">
            <button class="btn btn-light btn-block reserve-btn">Reserve Now</button>
          </div>
          
        </div>
        
        <div class="row">
          <div class="col">
            <i class="icon ion-ios-arrow-down"></i>
          </div>
        </div>
        
      </div>
    </div><!-- End of Hero Bottom -->
    
  </section><!-- End of Hero Section -->
  
  
  
<% include ./partials/footer %>
    
